@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Overlock:wght@700&family=Rasa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root{
    --color-text-1: #F1EDE9FF;
    --color-text-2: #9FBCB7FF;
    --color-text-3: #F3CB44FF;
}

*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    height: 100vh;
    font-family: Rasa;
    font-size: 18px;
    background-color: var(--color-text-1);
}

h1{
    font-family: Overlock;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.015em;
    /* text-align: left; */
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.01em;
    /* text-align: left; */
}

h2{
    font-family: Overlock;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
}

span{
    color: var(--color-text-3);
}

.main-body-wrapper{
    width: 100vw;
    height: 100vh;
    /* padding: 0 2em; */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto);
}

/* Header Starts */

header{
    width: 100%;
    height: 90px;
    font-family:'Overlock', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
    border-bottom: black 1px solid;
}

.logo-text p{
    
    width: 150px;
    height: 40px;
    padding: 10px;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

ul .navlink{
    list-style: none;
    cursor: pointer;
    
    width: 85px;
    height: 40px;
    padding: 10px;
    text-align: center;
}


/* Header Ends */

/* Hero Starts */
.hero_wrapper{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    padding: 2em 0;
}

.hero-texts{
    width: 547px;
    height: 450px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.hero-texts h1{
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

.hero-texts h3{
    padding: 2em 0;
}

.buttons{
    display: flex; 
    align-items: flex-start;
    justify-content: center;
}

.big-button{
    width: 240px;
    height: 50px;

    border: 1px black solid;
    border-radius: 4px;

    font-family: Rasa;
    font-size: 18px;
    background-color: none;

    cursor: pointer;
    background: var(--color-text-1);
}

.big-button:hover {
    background-color: var(--color-text-3);
    transition: ease-in-out .5s;
}

.two{
    margin-left: 2em;
}


img{
    width: 500px; 
    height: 500px;
    /* background-size: cover; */
    background-position: center;
}

/* Hero Ends */

/* About starts */

.about{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    padding: 2em;
    background-color: var(--color-text-2);
}

.about img{
    width: 400px;
    height: 400px;
}

.about-text {
    width: 500px;
    height: 450px;
    padding: 1em;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.about-text p{
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.01em;
    line-height: 30px;
    padding-top: 2em;
}

/* About Ends */

/* Skills Start */

.skills{
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skills__item {
    margin-top: 3px;  
}

.left ,
.right {
    vertical-align: top;
    display: inline-block;
}

.left {
    width: 400px;    
}

.right {
    text-align: right;
    width: 500px;    
}


.skills__item .right input {
    display: none;
}

.checked-label {
    display: inline-block;  
    width: 20px;
    height: 20px;
    background: var(--color-text-2);
    border-radius: 20px;
    margin-right: 3px;
    margin-top: 3px;
}

input:checked + label {
    background: var(--color-text-3);
}

.technical-skills,
.soft-skills{
    padding: 1em 0;
}

/* Skills end */

/*  Qualification starts  */

.qualification{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2em 0;
    line-height: 24px;
}


.qual{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
}

.qual-one{
    display: flex;
    justify-content: space-between;
    height: 100px;
}


.left-qual{
    width: 400px;
}

.right-qual{
    width: 500px;
}

/* qualification end */

/* Services Start */

.services{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em 0;
    line-height: 24px;
    background-color: var(--color-text-2);
}

.services-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;   
}

.service-items{
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em 0;
}

.service-items .fa{
    font-size: 36px;
    padding: 10px;
}

.service-items p{
    text-align: center;
    line-height: 36px;
    padding: 1em;
}



/* Service End */


/* Projects Start */

.projects{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em 0;
    line-height: 24px;
}

.project-lists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.project-items{
    width: 500px;
    height: 593;
    padding: 2em;

    text-align: justify;
    margin: 0 auto;
}

.project-items img{
    width: 400px;
    height: 262px;
    
    background-size: cover;
    background-position: center;
}

.project-texts{
    width: 500px;
    height: 300px;
    line-height: 30px;
}

/* Projects Ends */



/* Contact Begins */
.contacts{
    width: 100%;
    padding: 2em;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-box{
    width: 500px;
    height: 450px;
    line-height: 36px;

    padding: 2em;
    border: 1px solid black;
    border-radius: 4px;
}

.fcf-label{
    font-family: Rasa;
    font-size: 18px;
    
}

input{
    width: 300px;
    height: 35px;
    padding: 10px;

    font-style: Rasa;
    font-size: 18px;

    background-color: var(--color-text-1);
    border: 1px solid black;
    border-radius: 4px;
}

textarea{
    width: 300px;
    height: 100px;
    padding: 10px;

    font-family: Rasa;
    font-size: 18px;

    background-color: var(--color-text-1);
    border: 1px solid black;
    border-radius: 4px;
}

.fcf-btn{
    width: 110px;
    height: 30px;

    font-family: Rasa;
    font-size: 16px;
    cursor: pointer;

    background-color: var(--color-text-1);
    border: 1px solid black;
    border-radius: 4px;
}

.fcf-btn:hover{
    background-color: var(--color-text-3);
    transition: ease-in-out .5s;
}

/* Footer starts */
footer{
    padding: 1em 0;
    border-top: 1px solid black;
}

footer h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-icons p .fa{
    color: black;
    text-decoration: none;
    padding: 1em 2em;
}

.contact-icons p .fa:hover{
    color: var(--color-text-3);
    transition: ease-in-out .5s;
}


@media screen and (min-width: 320px)
and (max-width: 767px) {

    body{
        font-size: 16px;
        max-width: 100vw;
    }
    h1{
        font-size: 36px;
        line-height: 40px;
    }

    h2{
        font-size: 24px;
        line-height: 30px;
    }

    h3{
        font-size: 18px;
        line-height: 30px;
    }

    /* Header */
    header{
        justify-content: center;
        align-items: center;
    }

    /* Hero */
    .hero_wrapper{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero_wrapper img{
      width: 300px;
      height: 300px;
    }

    .hero-texts{
        width: 300px;
    }

    .big-button{
        width: 140px;
        height: 40px;
    }

    /* About */

    .about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-text{
        width: 300px;
        height: 620px;
       
    }

    /* Skills */

    .left {
        width: 100px;    
    }
    
    .right {
        width: 200px;    
    }    

    .checked-label{
        width: 10px;
        height: 10px;
    }

    /* Services */

    .service-list{
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    
    .qualification{
        flex-direction: column;
        text-align: justify;
    }

    .qualification h3{
        text-align: center;
        padding: 1em;
    }

    .qual-one{
        height: 200px;
    }

    .left-qual{
        width: 170px;
    }

    .right-qual{
        width: 190px;
    }

    /* Project */
    .project-lists{
        flex-direction: column;
    }
    
    .project-items{
        width: 300px;
        height: 500px;
    }
    
    .project-items img{
        width: 250px;
        height: 200px;
    }
    
    .project-texts{
        width: 300px;
        height: 200px;
        line-height: 30px;
    }

    /* Contact */
    .contacts{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts h2{
        padding: 1em;
    }
    
    .contact-box{
        width: 300px;
        height: 420px;
    }
    
    .fcf-label{
        font-size: 16px;
    }
    
    input{
        width: 250px;
    }
    
    textarea{
        width: 250px;
    }
    
    /* Footer */

    footer h3{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-items{
        flex-direction: column;
        justify-content: center;
    }

    .contact-items p{
        padding: 10px;
    }
    
}

@media screen and (min-width:768px)
and (max-width:1024px) {
    header{
        justify-content: center;
        align-items: center;
    }

    .hero_wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }

    .hero-texts{
        padding: 2em;
    }

    .about{
        flex-direction: column;
        align-items: center;
    }

    .about-text{
        height: 480px;
    }

    .left{
        width: 300px;
    }

    .right{
        width: 300px;
    }
    .qual-one{
        height: 120px;
    }

    .left-qual{
        width: 300px;
    }

    .right-qual{
        width: 400px;
    }

    .services-list{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contacts{
        flex-direction: column;
        align-items: center;
    }

    .contact-box{
        width: 400px;
    }

    .contacts h2{
        padding: 1em;
    }

    footer h3{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-items{
        flex-direction: column;
        justify-content: center;
    }

    .contact-items p{
        padding: 10px;
    }
}